.intro{
    max-width: 984px;
    width: 100%;
    margin: 0 auto;

    }
.intro__title{
    max-width: 830px;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    padding-top: 92px;
    margin: 0;

}
.intro__subtitle{
    margin-top: 40px;
    max-width: 738px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 0;
  
    
}
.intro__author{
    max-width: 738px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    padding-top: 10px;
    margin: 0;
    
}
.intro__text{
    max-width: 722px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    padding-top: 32px;
    margin: 0;
}

@media screen and (max-width: 1024px){
    .intro{
    max-width: 720px; 
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;

    }
    .intro__title{
    max-width: 707px;
    font-size: 45px;
    line-height: 49px;
    }
    .intro__subtitle{
    margin-top: 50px;
    max-width: 720px;
    width: 80%;
    }
    .intro__text{
        max-width: 720px;
    }
    .intro__author{
        padding: 0;
    }

    }   
 
@media screen and (max-width: 544px){
    .intro{
    padding: 0 16px;
    width: calc(100% - 32px);
    max-width: none;
    }
    
    .intro__title{
    max-width: none;
    font-size: 32px;
    line-height: 35px;
    width: 100%;
    padding-top: 50px;
    }
    .intro__subtitle{
    width: 100%;
    max-width: none;
    line-height: 30px;
    }

    .intro__text{
     max-width: none;
    }
 
    }